Repository SimonBOai/ai2business: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, doctest, build

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: pipenv run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy
  require_serial: true

doctest:
  name: doctest
  language: system
  entry: pipenv run doctest

build:
  name: build
  stages:
  - commit
  language: system
  entry: pipenv install -e .

Update dev requs
  Pipfile
  dev-requirements.txt
Due: none

'Refactored by Sourcery'
  ai2business/kpi_collector/finance_collector.py
  ai2business/kpi_collector/trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Extend Webpage
  Pipfile
  dev-requirements.txt
  mkdocs.yml
Due: none

Add missing plugin
  Pipfile
  dev-requirements.txt
Due: none

Removed duplicated extra
  mkdocs.yml
Due: none

Update Mode
  docs/_snippset/uml.txt
  mkdocs.yml
Due: none

Try again dark mode
  mkdocs.yml
Due: none

Update mdocs
  mkdocs.yml
Due: none

Initializing the doc settings
  ai2business/kpi_collector/finance_collector.py
  ai2business/kpi_collector/trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Navigation
  ai2business/kpi_collector/trends_collector.py
  docs/api/kpi_collector.md
  docs/index.md
  mkdocs.yml
Due: isort, black, flake8, mypy, doctest, build

Test new docs
  ai2business/kpi_collector/finance_collector.py
  ai2business/kpi_collector/trends_collector.py
  docs/api/finance_trend_collector.md
  docs/api/search_trend_collector.md
  docs/docs/kpi_collector.md
  mkdocs.yml
Due: isort, black, flake8, mypy, doctest, build

Fix typo
  ai2business/kpi_collector/test/test_trends_collector.py
  docs/api/finance_collector.md
  docs/api/search_trend_collector.md
  docs/api/trends_collector.md
  mkdocs.yml
Due: isort, black, flake8, mypy, doctest, build

Finished docs
  Pipfile
  ai2business/kpi_collector/finance_collector.py
  ai2business/kpi_collector/trends_collector.py
  docs/index.md
  mkdocs.yml
Due: isort, black, flake8, mypy, doctest, build

Reformat
  ai2business/kpi_collector/finance_collector.py
Due: isort, black, flake8, mypy, doctest, build

Refactory done
  build/lib/ai2business/__init__.py
  build/lib/ai2business/kpi_collector/__init__.py
  build/lib/ai2business/kpi_collector/finance_collector.py
  build/lib/ai2business/kpi_collector/kpi_to_dataframe.py
  build/lib/ai2business/kpi_collector/research_collector.py
  build/lib/ai2business/kpi_collector/test/__init__.py
  build/lib/ai2business/kpi_collector/test/test_finance_collector.py
  build/lib/ai2business/kpi_collector/test/test_trends_collector.py
  build/lib/ai2business/kpi_collector/trends_collector.py
  requirements.txt
Due: isort, black, flake8, mypy, doctest, build

Requirements done
  requirements.txt
Due: none

Refactory done
  ai2business/kpi_collector/finance_collector.py
  ai2business/kpi_collector/trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Update docs build
  .github/workflows/python-docs.yml
  .gitignore
  ai2business/kpi_collector/trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Typo
  .github/workflows/python-docs.yml
Due: none

Mike test
  .github/workflows/python-docs.yml
Due: none

Update mkdocs
  mkdocs.yml
Due: none

Removed build
  .gitignore
  build/lib/ai2business/__init__.py
  build/lib/ai2business/kpi_collector/__init__.py
  build/lib/ai2business/kpi_collector/finance_collector.py
  build/lib/ai2business/kpi_collector/kpi_to_dataframe.py
  build/lib/ai2business/kpi_collector/research_collector.py
  build/lib/ai2business/kpi_collector/test/__init__.py
  build/lib/ai2business/kpi_collector/test/test_finance_collector.py
  build/lib/ai2business/kpi_collector/test/test_trends_collector.py
  build/lib/ai2business/kpi_collector/trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Update mkdocs.yml
  mkdocs.yml
Due: none

Consitent implementation of the builder pattern for trends
  ai2business/kpi_collector/finance_collector.py
  ai2business/kpi_collector/test/test_trends_collector.py
  ai2business/kpi_collector/trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Add missing new function in test
  ai2business/kpi_collector/test/test_trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Add missing static type
  ai2business/kpi_collector/test/test_trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Linked setup.py to requirements
  README.md
  setup.py
Due: isort, black, mypy, doctest, build

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update the action flows
  .github/workflows/pylint.yml
  .github/workflows/python-package.yml
  README.md
  ai2business/kpi_collector/trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Removed pipenv-header
  dev-requirements.txt
  requirements.txt
  setup.py
Due: isort, black, mypy, doctest, build

Removed sonar link
  .github/workflows/python-package.yml
Due: none

Removed **kwargs
  ai2business/kpi_collector/trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Add missing docstrings for pylint
  ai2business/__init__.py
  ai2business/kpi_collector/kpi_to_dataframe.py
  ai2business/kpi_collector/research_collector.py
  ai2business/kpi_collector/test/test_finance_collector.py
  ai2business/kpi_collector/test/test_trends_collector.py
  setup.py
Due: isort, black, flake8, mypy, doctest, build

Update pylint
  .github/workflows/pylint.yml
Due: none

Add Pull_Request as well
  .github/workflows/pylint.yml
Due: none

Update pylint
  ai2business/kpi_collector/test/__init__.py
  ai2business/kpi_collector/trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Update pylint
  .github/workflows/pylint.yml
  ai2business/kpi_collector/test/__init__.py
Due: isort, black, flake8, mypy, doctest, build

Test Auto docstring generator
  .github/workflows/ponicode.yml
Due: none

Ponicode test
  .github/workflows/ponicode.yml
Due: none

Update ponicode
  .github/workflows/ponicode.yml
  ai2business/kpi_collector/trends_collector.py
Due: isort, black, flake8, mypy, doctest, build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  doctest: any of: \.py$
  build: any of: \.py$
